pypdf
pyyaml
numpy
sentence-transformers
streamlit
pypdfium2
Pillow
ebooklib
beautifulsoup4
plotly
django
djangorestframework
drf-spectacular
uvicorn[standard]
pydantic
langchain
langchain-core
langchain-community
